:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #c0caf5; /* fg */
  background-color: #24283b; /* bg */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  background-color: #414868; /* a darker blue */
  color: #c0caf5;
  border: 1px solid #7aa2f7; /* blue */
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #565f89; /* a lighter blue */
}